# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Personal projects
alias proj='cd $HOME/projects'


# Wanderful repos
alias gf='cd $HOME/wanderful'
alias sww='cd $HOME/wanderful/staywanderful-widgets'
alias gfd='cd $HOME/wanderful/godfather-django'
alias gfa='cd $HOME/wanderful/godfather-angular'
alias gfs='cd $HOME/wanderful/godfather-scripts'
alias gfbt='cd $HOME/wanderful/godfather-bookingtool'
alias hb='cd $HOME/wanderful/hotel-boutique'

#refresh
alias refreshb='source ~/.bashrc'
alias refreshz='source ~/.zshrc'

